/node_modules
/public/hot
/public/storage
/public/vendor/statamic
/public/img/
/storage/*.key
/vendor
.env
.env.backup
/.phpunit.cache
.antlers.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea
/public/images
/public/files
/public/favicons
/public/social_images
/public/assets
/storage/forms
auth.json